/* Header.css */

header {
  background-color: #66ccff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  font-size: 20px; /* Increase font size for navigation links */
}

.header-content {
  margin-top: 20px;
  font-size: 24px; /* Increase font size */
}

.header-content h1 {
  color: black; /* Choose a color complementary to the background */
}

.header-content p {
  margin: 10px 0;
  color: #14110f; /* Choose a color complementary to the background */
}
